# Dependencies
node_modules
**/node_modules

# Build outputs
dist
build
**/dist
**/build
**/bin
**/obj

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Environment files
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
