{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "SqlConnection": "Server=(localdb)\\MSSQLLocalDB;Database=ComiCal;Integrated Security=true;TrustServerCertificate=true",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "",
    "RakutenBooks__ApplicationId": ""
  }
}
