<div class="contents">
  <div class="date-field">
    <mat-form-field>
      <mat-label>検索開始日</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="取得開始日"
        [formControl]="fromDateControl"/>
      <mat-hint>YYYY/MM/DD</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="keyword-field">
    <mat-chip-listbox>
      @for (keyword of keywords$ | async; track keyword) {
        <mat-chip-option
          [selectable]="true"
          [removable]="true"
          (removed)="removeKeyword(keyword)">
          <div class="inner-field">
            {{keyword}}
          </div>
          <mat-icon matChipRemove >cancel</mat-icon>
        </mat-chip-option>
      }
    </mat-chip-listbox>
  </div>
  <div class="key-word-edit">
    <form [formGroup]="keywordForm" (ngSubmit)="submit()" autocomplete="off">
      <div>
        <mat-form-field>
          <input formControlName="keyword" matInput placeholder="追加キーワード"/>
        </mat-form-field>
      </div>
      <div class="add-field">
        <button mat-flat-button color="primary" type="submit">追加</button>
      </div>
    </form>
  </div>
</div>