.contents {
  display: grid;
  grid-template-columns: 1fr 200px;
  height: 100%;
}
.item-field {
  grid-area: 1/1/2/2;
  height: calc(100% - 10px);
  padding: 5px;
  overflow-y: auto;
}
.search-filed {
  grid-area: 1/2/2/3;
  height: 100%;
}
.list-contents {
  display: flex;
  flex-wrap: wrap;
}
.comic-card {
  width: 350px;
  margin: 10px;
}
.card-contents {
  display: grid;
  grid-template-columns: 110px 1fr;
}
.pix {
  grid-area: 1/1/2/2;
  height: 150px;
  img {
    width: 100px;
  }
  padding-right: 5px;
  align-self: center;
}
.info {
  grid-area: 1/2/2/3;
  width: 100%;
  overflow: hidden;
  align-self: center;
}
.title {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}
.author {
  padding-left: 5px;
  font-size: 0.8em;
}
.sales-date {
  padding-left: 5px;
  font-size: 0.8em;
}
.text-contents {
  padding-left: 5px;
}