.contents {
  height: calc(100vh - 65px);
}
.spacer {
  flex: 1 1 auto;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  height: 32px;
}
.link-field {
  font-size: 10px
}

/* Safari用のハックは、Chromeに適用されないようにする */
@supports (-webkit-touch-callout: none) {
  .contents {
    /* Safari用のハック */
    height: -webkit-fill-available;
  }
}